
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="google-site-verification", content="XhTf-d67tP1m5VwkafyLgh6bsp8ZAXMGtMwQkxI5ONc")
link(rel="stylesheet", href="/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/index.css")

title #{nombrepagina}
<script src="https://kit.fontawesome.com/c3e2e9d902.js" crossorigin="anonymous"></script>
