include partials/mixins
<!DOCTYPE html>
html(lang="en")
     head
          include partials/headView
     body
         +header("Aplicación de Tareas")
         main
               section.signin
                    .container
                         .row.justify-content-center.align-items-center
                              .col-lg-6.col-sm-8.col-10.card.card-body.bg-light
                                   h4.text-center.font-weight-bolder.text-primary.mb-4 INICIAR SESIÓN 
                                   form(action="/signin", method="POST")
                                        if success
                                             .alert.alert-success= success
                                        if error
                                             .alert.alert-danger= error
                                        .form-group.d-flex.align-items-center
                                             .col-2
                                                  label(for="email").font-weight-bolder.text-black Email
                                             .col-10
                                                  input(type="text", name="email", placeholder="Tu Email", value=body && body.email).form-control

                                        .form-group.d-flex.align-items-center
                                             .col-2
                                                  label(for="password").font-weight-bolder.text-black Password
                                             .col-10
                                                  input(type="password", name="password", placeholder="Tu Password", value=body && body.password).form-control
                                        button(type="submit").btn.btn-primary.btn-lg.btn-block Iniciar Sesión
                                   a(href="/auth/google").btn.btn-danger.btn-block.btn-lg.d-flex.align-items-center.justify-content-center.my-2
                                        i(class="fab fa-google").mx-2
                                        span.mx-2 Loguearse con Google
                                        

                                   .d-flex
                                        a(href="/signup").d-inline-block.text-primary.mt-3 Registrarse
                                        a(href="/reestablecer").d-inline-block.ml-auto.text-primary.mt-3 ¿Olvidaste tu Contraseña?



                                   



