<!DOCTYPE html>
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          style
               include ./css/redirigirRestablecerPassword.css
     body
          h2 Confirmar Cuenta
          p Ya est치s casi inscrito, haz click en el siguiente bot칩n.
          p
               strong NOTA: No podr치 iniciar sesi칩n si no confirmas tu cuenta
          a(href=`${confirmarUrl}`) Confirmar cuenta
          p Si no puedes acceder a este enlace, visita #{confirmarUrl}
          p Si no solicistate este e-mail, puedes ignorarlo
                         
          
