<!DOCTYPE html>
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          style
               include ./css/redirigirRestablecerPassword.css
     body
          h2 Reestablecer Password
          p Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace para reestablecerlo.
          p
               strong NOTA: Tienes una hora para poder reestablecer tu password
          a(href=`${resetUrl}`) Ir a resetear mi Password
          p Si no puedes acceder a este enlace, visita #{resetUrl}
          p Si no solicistate este e-mail, puedes ignorarlo
                         
          
